


{{#ef-list}}
  {{#ef-list-header}}
    Unordered List Demo
  {{/ef-list-header}}

  {{#ef-list-group-header}}
    Some items
  {{/ef-list-group-header}}

  {{#ef-list-item}}
    Item 1
  {{/ef-list-item}}

  {{ef-list-divider}}

  {{#ef-list-item}}
    Item 2
  {{/ef-list-item}}
{{/ef-list}}

<br><br><br>

<p>Ordered List Demo</p>
{{#ef-list ordered=true}}
  {{#ef-list-item}}
    Item 1
  {{/ef-list-item}}
  {{#ef-list-item}}
    Item 2
  {{/ef-list-item}}
{{/ef-list}}
