<h3>
  <code>ef-nav</code> component demo
</h3>

**IS NOT ACCURATE**

<hr>

<p>Can set <code>inline</code> or <code>inverse</code> on <code>#ef-nav</code></p>

<hr>

<p>This code:</p>

<pre>
&#123;&#123;#ef-nav&#125;&#125;
  &#123;&#123;#ef-list&#125;&#125;
    &#123;&#123;#ef-list-header&#125;&#125;
      My List of Things
    &#123;&#123;/ef-list-header&#125;&#125;

    &#123;&#123;#ef-list-group-header&#125;&#125;
      Letters
    &#123;&#123;/ef-list-group-header&#125;&#125;

    &#123;&#123;#ef-list-item&#125;&#125;
      A
    &#123;&#123;/ef-list-item&#125;&#125;

    &#123;&#123;ef-list-divider&#125;&#125;

    &#123;&#123;#ef-list-group-header&#125;&#125;
      Numbers
    &#123;&#123;/ef-list-group-header&#125;&#125;

    &#123;&#123;#ef-list-item&#125;&#125;
      1
    &#123;&#123;/ef-list-item&#125;&#125;
  &#123;&#123;/ef-list&#125;&#125;
&#123;&#123;/ef-nav&#125;&#125;
</pre>

<p>creates:</p>

{{#ef-nav}}
  {{#ef-list}}
    {{#ef-list-header}}
      My List of Things
    {{/ef-list-header}}

    {{#ef-list-group-header}}
      Letters
    {{/ef-list-group-header}}

    {{#ef-list-item}}
      A
    {{/ef-list-item}}

    {{ef-list-divider}}

    {{#ef-list-group-header}}
      Numbers
    {{/ef-list-group-header}}

    {{#ef-list-item}}
      1
    {{/ef-list-item}}
  {{/ef-list}}
{{/ef-nav}}


<hr>
<hr>








